p{
    background-color: aliceblue;
    columns: centre;
    -ms-grid-row-align: center;
    column-rule-style: double;
    column-rule-style:centre;
    -ms-grid-align:centre;
    column-gap: normal;
}
